@page "/"
@using System.Timers

@code {
    private int _rows = 75;
    private int _cols = 160;
    private int[][] _board;
    private int _currentCount = 0;
    private Timer _timer = new(10);
    private Double _randomFactor = 0.5;
    private FPSCounter _fPSCounter;

    protected override void OnInitialized()
    {
        Reset();
        _fPSCounter = new FPSCounter();
        _fPSCounter.Start();
        _timer.Elapsed += (sender, eventArgs) => OnTimerCallback();
    }

    private void Reset()
    {
        _board = CreateBoard();
    }

    private void BringToLife(int i, int j)
    {
        _board[i][j] = 1;
        StateHasChanged();
    }

    private void OnTimerCallback()
    {
        _ = InvokeAsync(() =>
        {
            _currentCount++;
            _fPSCounter.Update();
            _board = GetNextGeneration(_board);
            StateHasChanged();
        });
    }

    private void Start()
    {
        if (_timer.Enabled)
        {
            _timer.Stop();
        }
        else
        {
            _timer.Start();
        }
    }

    private int[][] CreateRandomeBoard()
    {
        var newBoard = new int[_rows][];
        var rand = new Random();
        for (int i = 0; i < _rows; i++)
        {
            newBoard[i] = new int[_cols];
            for (int j = 0; j < _cols; j++)
            {
                newBoard[i][j] = rand.NextDouble() > _randomFactor ? 0 : 1;
            }
        }
        return newBoard;
    }

    private void RandomBoard()
    {
        _board = CreateRandomeBoard();
    }

    private int[][] CreateBoard()
    {
        var newBoard = new int[_rows][];
        for (int i = 0; i < _rows; i++)
        {
            newBoard[i] = new int[_cols];
            for (int j = 0; j < _cols; j++)
            {
                newBoard[i][j] = 0;
            }
        }
        return newBoard;
    }

    private int CountNeighbors(int[][] board, int row, int col)
    {
        int count = 0;
        int rowStart = Math.Max(0, row - 1);
        int rowEnd = Math.Min(_rows - 1, row + 1);
        int colStart = Math.Max(0, col - 1);
        int colEnd = Math.Min(_cols - 1, col + 1);

        for (int i = rowStart; i <= rowEnd; i++)
        {
            for (int j = colStart; j <= colEnd; j++)
            {
                if (i != row || j != col)
                {
                    count += board[i][j];
                }
            }
        }

        return count;
    }

    private int[][] GetNextGeneration(int[][] board)
    {
        var newBoard = new int[_rows][];

        for (int i = 0; i < _rows; i++)
        {
            var newRow = new int[_cols];
            for (int j = 0; j < _cols; j++)
            {
                int neighbors = CountNeighbors(board, i, j);
                if (board[i][j] == 1)
                {
                    newRow[j] = neighbors == 2 || neighbors == 3 ? 1 : 0;
                }
                else
                {
                    newRow[j] = neighbors == 3 ? 1 : 0;
                }
            }
            newBoard[i] = newRow;
        }
        return newBoard;
    }
}

<PageTitle>Game of life</PageTitle>
<div class="center">
   <h1>Game of life</h1>
   <p>Iterations @(_currentCount)</p> 
   <p>FPS @(_fPSCounter.CurrentFPS.ToString("F2"))</p> 
   <button @onclick="Start">@(_timer.Enabled ? "Stop" : "Start")</button>
   <input name="random_factor" value="@(_randomFactor)" @onchange="(v) => { _randomFactor = double.Parse((string) v.Value); }"/>
   <button @onclick="RandomBoard">Random world</button>
   <button @onclick="Reset">Reset</button>
</div>
<table class="table">
    @foreach (var row in _board.Select((x,i) => new {Value = x, Index = i}))
    {
        <tr>
            @foreach (var cell in row.Value.Select((x,i) => new {Value = x, Index = i}))
            {
                <td @onclick="() => BringToLife(row.Index, cell.Index)" class="cell @(cell.Value == 1 ? "alive" : "dead")"></td>
            }
        </tr>
    }
</table>